* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-black-sony {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
}

.nav-black-sony img {
  height: 35px;
  width: 75px;
  margin: 0px 10px;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #0070d1;
}

.navbar-dark .navbar-toggler {
  background-color: black;
  filter: invert(1);
}

.search {
  display: flex;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.banner {
  background-image: url(../img/jumbo-bg.png);
  background-position: center top;
  height: 600px;
}

.banner2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  height: 800px;
}

.text-area {
  height: 550px;
  width: 550px;
  padding-top: 20vh;
  padding-left: 5vw;
}

.returnal {
  height: 40px;
}

.it-takes-two {
  height: 200px;
}

.main-text {
  font-size: 40px;
}

.banner > img {
  width: 100%;
}

.img img {
  width: 100%;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

.select {
  border: 2px solid transparent;
  cursor: pointer;
}

.select:hover {
  border: 2px solid #0d6efd;
  border-radius: 20px;
}

.opacity {
  opacity: 0.6;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.opacity:hover {
  opacity: 1;
  border-bottom: 2px solid #0d6efd;
}

.bg-sepia {
  background-color: #bebcbb;
}

.logo-plus img {
  height: 100px;
}

.mini-banner img {
  height: 500px;
}

@media (min-width: 992px) {
  ul button {
    margin: 0px 25px;
  }
}

@media (max-width: 992px) {
  .search {
    margin: 10px 0px;
  }

  .mini-banner img {
    display: none;
  }
}

@media (max-width: 575px) {
  .text-area {
    max-width: 320px;
  }
}
